* {
    box-sizing: border-box;
  }
  
  body {
    background: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    margin-top: 10vh;
    font-family: 'Protest Guerrilla', sans-serif;
    display:grid;
    /* mobile first - single column */
    justify-content: center;
    grid-template-rows: 50px 60px auto;
    grid-template-areas: 
      "hdr"
      "ftr"
      "field" ;   
  }


  header {
    grid-area: hdr;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: black;
    color: white;
   
  }
  
  footer {
    grid-area: ftr;
    display: flex;
    grid-template-rows: 30px 30px;
    justify-content: space-around;
    align-items:center;
    background-color:black;
    grid-template-areas: 

  }

  #button {
    grid-area: "state";
    display: flex;
    padding:10px 24px;
    
  }

  #field {
    width: 66vh;
    height: 66vh;
    margin-top: 8%;
    grid-area: field;
    background-color: black;
    display:grid;
    grid-template-columns: repeat(8, 8vmin);
    grid-template-rows: repeat(8, 8vmin);
    justify-content: center;
    align-items:center;
  
    
  }
  
  #field > div {
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    outline-style: 0.5vmin solid grey;
    border-top: 1vh solid white;
    border-right: 1vh solid grey;
    border-bottom: 1vh solid grey;
    border-left: 1vh solid white;
    height: 8vmin;
    width: 8vmin;
    text-align: center;
    display: flex;
  }
  
  